
</div>
<footer>
<p>Created by {{name}}. Copyright {{name}}</p>
</footer>
  
 
    <script src="/js/saferInnerHTML.polyfills.min.js"></script> 
        <script src="/js/displayDummyData.js"></script> 
    <script src="/js/displayMeteoData.js"></script> 
    <script src="/js/app.js"></script> 
</body>
</html>